<div class="col-lg-10 offset-lg-1">

<h1 class="text-md-center">Dealerships</h1>


  <div class="row">
    <% if current_user.has_role? :admin %>
    <div class="pull-right">
      <%= link_to 'Add New Dealership', new_dealership_path, :class=>"btn btn-info"  %>
    </div>
    <% end %>
    <div class="text-lg-left">
      <%= link_to root_path, :class=>"btn btn-danger" do  %>
        <i class="fa fa-chevron-circle-left fa-fw" aria-hidden="true"></i>Back
      <% end %>
    </div>
  </div>



<div class="row" style="padding: 2rem 0">
  <table class="table table-hover" style="background-color: white; padding-top:5rem; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-radius: 0rem 0rem .25rem .25rem">
    <thead>
      <tr>
        <th>
          Logo
        </th>
        <th>Name</th>
        <th colspan="1" class="text-center"></th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @dealerships.each do |dealership| %>
        <tr data-href='<%= dealership_path(dealership.id)%>'>
          <td><%= image_tag dealership.logo.url(:thumb) %></td>
          <td><%= dealership.name %></td>
          <td class="text-lg-right">
            <!-- <%= link_to 'Show', dealership, :class=>"btn btn-outline-primary" if can? :read, dealership %> -->
            <%= link_to 'Edit', edit_dealership_path(dealership), :class=>"btn btn-outline-warning btn-sm" if can? :update, dealership %>
            <%= link_to 'Remove', dealership, :class=>"btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } if can? :manage, dealership %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

</div>



<!-- <script>
jQuery(document).ready(function($) {
    $('.table > tbody > tr').click(function() {
        window.document.location = $(this).data("href");
    });
});
</script> -->
